:host(){
    --dark-blue:#022451;
    --white:#fff;
    --dark-gray:#6D6D6D;
    --light-blue:#0076d3;
    --light-gray: #cecece;
    --light-red:#e91515;
    --size-12:12px;
    --size-14:14px;
    --size-16:16px;
    --size-18:18px;
    --size-20:20px;
    


  }
  .app{
      background: var(--dark-blue);
      padding: 16px;
      width: 100%;
      min-height: 100vh;
      font-size: var(--size-16) ;
      display: flex;
      flex-wrap: wrap;
  }
  .box{
    height: 300px;
    width: 300px;
    background: var(--white);
    border-radius: var(--size-12);
    margin: 12px;  
  }
  .box-center{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;    
    background: var(--white);
    border-radius: 12px;
    cursor: pointer;
  }
  .dotted-circle{
    border: 2px solid var(--dark-blue);
    border-radius: 50%;
    padding: 16px;
  }
  h2{
    font-size: var(--size-20);
    font-weight: 700;
  }
  .custom-icon{
    --slds-c-icon-color-foreground-default:var(--dark-blue);
  }
  .edit-icon{
   --slds-c-icon-color-background:var(--dark-blue);
  }
  .delete-icon{
    --slds-c-icon-color-background:var(--light-red);
  }
  header{
    background: var(--light-blue);
    color: var(--white);
    padding: 4px 16px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .tasks{
    height: 221px;
    overflow: auto;/*for autocroling bar*/
    padding: 4px 16px;
  }
  .footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 16px;
      background: var(--light-gray);
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
  }
  .date{
      color: var(--dark-gray);
      font-size: 14px;
      font-style: italic;
  }